<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Jobs</h1>
  </div>

  <div id="new_job">
    <%= render partial: "jobs/form", locals: { job: Job.new } %>
  </div>

  <div id="jobs" class="min-w-full">
    <%= render @jobs %>
  </div>
</div>
